/airflow_base/logs
/airflow_base/plugins
/airflow_base/config
/Ref.md
/airflow_base/dags/task_python.txt

/airflow_base/dags/DAG-1/*
!/airflow_base/dags/DAG-1/note.txt

/airflow_base/dags/Docker/*
!/airflow_base/dags/Docker/note.txt

/airflow_base/dags/Python/*
!/airflow_base/dags/Python/__init__.py
!/airflow_base/dags/Python/note.txt

/airflow_base/Data/*
!/airflow_base/Data/note.txt